.labels
{
-fx-font-size: 20px;
    -fx-font-family: "Arial Black";
}

.table-column
{
    -fx-alignment: center;
}

.grid-pane-border
{
    -fx-border-style: none none solid none;
    -fx-border-color: black;
}

.hbox-top-border
{
    -fx-border-style: solid none none none;
    -fx-border-color: black;
}